# Required
GITHUB_ORG=NullRabbitLabs
GITHUB_PAT=ghp_your_personal_access_token_here

# Optional
RUNNER_NAME=                    # Auto-set by scale.sh (e.g. NullRabbitLabs-runner-1)
RUNNER_LABELS=self-hosted,linux,x64,nullrabbit
RUNNER_GROUP=default
RUNNER_COUNT=2                  # Number of parallel runners for scale.sh
